spring:
  application:
    name: job_application_tracker

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/ats_db}
    username: ${SPRING_DATASOURCE_USERNAME:ats_user}
    password: ${SPRING_DATASOURCE_PASSWORD:ats_password}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
    show-sql: false

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: ${SERVER_SERVLET_CONTEXT_PATH:/api}

logging:
  level:
    root: INFO
    com.ats: DEBUG
    org.springframework.security: DEBUG

app:
  jwt:
    secret: ${JWT_SECRET:default-secert-key}
    expiration: ${JWT_EXPIRATION:86400000}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true